sessions/StepFunction-nodejs-100/101/saved-steps/serverless-03-101-hello-machine.yml
service: iw-101-stepfunctions-nodejs 

provider:
  name: aws
  runtime: nodejs12.x
  stage: dev
  region: eu-west-1
  profile: 101profile

plugins:
  - serverless-step-functions

functions:
  hello:
    handler: hello.handler
    description: A Lambda that says hello
    memorySize: 128
    timeout: 2

stepFunctions:
  stateMachines:
    iw101HelloMachine:
      definition:
        Comment: "A sample step function to say hello"
        StartAt: FirstState
        States:
          FirstState:
            Type: Wait
            Seconds: 5
            Next: SecondState
          SecondState:
            Type: Task
            Resource:
              Fn::GetAtt: [hello, Arn]
            Next: ThirdState
            ResultPath: "$.taskresult"
          ThirdState:
            Type: Wait
            Seconds: 5
            End: true