sessions/StepFunction-nodejs-100/101/saved-steps/serverless-05-101-parallel-machine.yml
service: iw-101-stepfunctions-nodejs 

provider:
  name: aws
  runtime: nodejs12.x
  stage: dev
  region: eu-west-1
  profile: 101profile
  versionFunctions: false

plugins:
  - serverless-step-functions

functions:
  hello:
    handler: hello.handler
    description: A Lambda that says hello
    memorySize: 128
    timeout: 2

stepFunctions:
  stateMachines:
    iw101ParallelMachine:
      definition:
        Comment: "A sample step function to demonstrate parallel execution"
        StartAt: FirstState
        States:
          FirstState:
            Type: Wait
            Seconds: 5
            Next: SecondState
          SecondState:
            Type: Parallel
            Next: SixthState
            Branches:
            - StartAt: ThirdState
              States:
                ThirdState:
                  Type: Task
                  Resource:
                    Fn::GetAtt: [hello, Arn]
                  End: true
                  ResultPath: "$.helloresult"
            - StartAt: FourthState
              States:
                FourthState:
                  Type: Wait
                  Seconds: 5
                  Next: FifthState
                FifthState:
                  Type: Task
                  Resource:
                    Fn::GetAtt: [hello, Arn]
                  End: true
                  ResultPath: "$.helloresult2"
          SixthState:
            Type: Wait
            Seconds: 10
            End: true