sessions/StepFunctions-100/101/saved-steps/serverless-04-101-flakey-machine.yml
service: iw-101stepfunctions 

frameworkVersion: ">=1.28.0 <2.0.0"

provider:
  name: aws
  runtime: go1.x
  stage: dev
  region: eu-west-1
  profile: 101profile

plugins:
  - serverless-step-functions

package:
 exclude:
   - ./**
 include:
   - ./bin/**

functions:
  hello:
    handler: bin/hello
    description: A Lambda that says hello
    memorySize: 128
    timeout: 2
  flakey:
    handler: bin/flakey
    description: A Lambda that randomly fails 90% of the time
    memorySize: 128
    timeout: 2

stepFunctions:
  stateMachines:
    iw101FlakeyMachine:
      definition:
        Comment: "A sample step function that sometimes breaks"
        StartAt: FirstState
        States:
          FirstState:
            Type: Wait
            Seconds: 5
            Next: SecondState
          SecondState:
            Type: Task
            Resource:
              Fn::GetAtt: [hello, Arn]
            Next: ThirdState
            ResultPath: "$.helloresult"
          ThirdState:
            Type: Task
            Resource:
              Fn::GetAtt: [flakey, Arn]
            Next: FourthState
            ResultPath: "$.flakeyresult"
            Retry:
            - ErrorEquals:
              - States.ALL
              IntervalSeconds: 5
              MaxAttempts: 5
              BackoffRate: 2
            Catch:
            - ErrorEquals:
              - States.ALL
              Next : FailState
          FourthState:
            Type: Wait
            Seconds: 5
            End: true
          FailState:
            Type: Fail
            Cause: "randomness didn't generate a number > 90"